footer {
  height: 8vh;
  padding: 16px 0;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: silver;
}


@media (max-width: 600px) {
footer {
  padding: 8px 0;

}

footer p {
  font-size: 12px;
}

}