/* CSS */
.room-main-container {
  display: flex;
  justify-content: center;
  height: 80vh;
  overflow-y: auto;

}

.room-main {
  width: 80%;
  margin: 36px auto;

}

.room-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Kaisei Opti", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: #000;
  margin-bottom: 36px;

}

.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  /* カラム数を自動調整 */
  gap: 10px;  /* グリッドアイテム間のマージン */
}

.room-item {
  width: 100%;
  height: 290px;
  padding: 0;  /* パディングを0に設定 */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;  
}

.room-item a {
  text-decoration: none;
  color: inherit;  /* デフォルトのリンク色を継承 */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.room-register-btn {
  background-color: gray;
  border-radius: 5px;
}

.room-register-btn-text {
  width: 100%;
  padding: 15px 15px 30px 15px;
  position: absolute;
  bottom: 0;  /* 画像の下部に配置 */
  left: 0;  /* 左端に揃える */
  box-sizing: border-box;
}

.room-img {
  width: 100%;
  height: auto;  /* 自動的に高さを調整 */
  object-fit: cover;  /* 画像を枠いっぱいに表示し、アスペクト比を維持 */
  flex-grow: 1; 
  border-radius: 5px;
}

.room-item-bottom {
  background-color: rgba(0, 0, 0, 0.5); 
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0;  /* 画像の下部に配置 */
  left: 0;  /* 左端に揃える */
  box-sizing: border-box;
  border-radius: 0 0 5px 5px ;
}

.room-name {
  font-weight: bold;
  color: white;  
  text-align: center; 
  width: 100%;  
}

.room-delete {
  color: #fff;
  text-align: right;    
}
  
  

.room-name a {
  text-decoration: none;
}

.room-description {
  margin-top: 5px;
  display: none;
}

