.index-main {
  width: 100%;
  margin: 0 auto 32px;
  padding-top: 32px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-y: auto;
}

.index-main-upper {
  width: 80%;
  display: flex;
  margin: 0 auto 8px;
}

.index-main-title {
  width: 50%;
  font-family: "Kaisei Opti", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  color: #000;
  display: flex; 
  justify-content: flex-end;
  letter-spacing: 10px;
}


.place-search {
  width: 80%;
  
}

#detailed-search-form {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.place-search-box input{
  border: none;
  outline: none;
  font-size: 14px;
  padding: 4px 8px;
  background: transparent;
}

.place-search-box {
  width: 30%;
  border: 1px solid silver;
  border-radius: 4px; 
  
}

.place-search-submit {
  background-color: transparent;
  border: none; 
  cursor: pointer; 
  padding: 0; 
  font-size: 1.5rem;
  color: #7a7a7a;
  margin-left: 4px;
}

.place-lists {
  width: 80%;
  margin: 0 auto 8px;
  border: 1px solid silver;
  border-radius: 8px;
  display: flex;
  padding: 8px;

}

.place-lists-left {
  width: 12%;
  padding: 8px;
  border-right: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;

}
.place-prefecture {
  font-weight: 600;
 
}

.place-category {
}

.place-lists-right {
  width: 88%;
  display:block;
  padding-left: 16px;
 
}

.place-lists-right a{
  text-decoration: none;

}

.place-lists-right-upper {
  display: flex;
  justify-content: space-between;
  margin: 4px 0 8px;
}

.place-lists-right-upper-right {
  display: flex;
}

.place-name {
  font-size: 16px; 
}

.place-name a {
  color: #333;
}

.place-category {
  font-size: 12px;
  
}

.place-user-nickname {
  font-size: 12px;
  color: #333;
}

.place-created_at {
  font-size: 12px;
  color: #333;
  margin-left: 4px;
}


.place-delete a {
  color: #7a7a7a;
  margin-left: 10px;
}

.place-lists-right-bottom {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.place-lists-right-bottom-left {

}

.place-lists-right-bottom-right {
  display: flex;
    
}

.place-lists-right-bottom-right a {
  color: #fff;
}

.place-website-btn {
  background-color: #EF810F;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 4px;
}


.place-url-btn {
  background-color: #68Ac09;
  padding: 4px 8px;
  border-radius: 4px;
}



.place-register-btn {
  width: 96px;
  height: 96px;
  background: #1d9bf0;
  text-align: center;
  border-radius: 50%; 
  bottom: 10vh; 
  right: 4vw; 
  position: fixed; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  color: white; 
  font-size: 36px;
  font-weight: 500; 
  text-decoration: none;
}

.place-register-btn:hover {
  background: #63b3ff;  
}

.place-register-btn-text {
  margin: 0; 
}

.tooltip-text {
  visibility: hidden;
  width: 120px;  
  font-size: 16px;
  color: #63b3ff; 
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* ツールチップの位置 */
  position: absolute;
  z-index: 1;
  bottom: 110%;  
  left: 50%;
  margin-left: -60px;
}

.place-register-btn:hover .tooltip-text {
  visibility: visible;
}

@media (max-width: 600px) {
.index-main-upper {
  width: 100%;
  display: block;
 }

 .index-main-title{
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 20px;
 }

 .place-search {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
 }

 .place-search-box {
  width: 80%;
 }

 .place-lists-right-bottom{
  display: block;
 }

 .place-lists-right-bottom-right {
  display: flex; 
  justify-content: flex-end;
 }

 .place-search-submit {
  font-size: 1.5rem;
 }

 .place-website a,
 .place-url a {
  font-size: 12px;
 }

 .place-website {
  margin-bottom: 1.5vh;
 }

 .place-prefecture {
  font-weight: 600;
  letter-spacing: -1px;
 
}







}
