.show-main {
  width: 100%;
  margin: 32px auto;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.back-to-index {
  width: 80%;
  margin: 0 auto 8px;
  /* background-color: transparent;
  border: none;  */
  cursor: pointer; 
  padding: 0; 
  font-size: 2rem;
}

.back-to-index a {
color: #1F66BD;
}

.show-place-lists {
  width: 80%;
  margin: 0 auto 8px;
  border: 1px solid silver;
  border-radius: 8px;
  padding: 8px;
}

.place-list {
  display: flex;
  margin-bottom: 4px;
}

/* Comment */

.comment-form{
  display: flex;
}

.comment-text{
  display: block;
  margin-top: 20px;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
}

.comment p{
   margin: 0;
}

.user-info{
  color: gray;
  font-weight: bold;
}